<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Mika</title>
  <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/section_one.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/900564966753574942/971230959145988156/unknown.png" type="image/x-icon">
</head>

<body>
  
  <header>
    <div>
      <img class="mika-avatar" src="{{ url_for('static', filename='img/mika_avatar.png') }}" alt="MIKA">
      <h1>Mika RPG bot</h1>
    </div>

    <ul>
        <li><a href="https://dsc.gg/ᴋᴏᴄ">Suporte</a></li>
        <li> <a href="./commands">Comandos</a></li>
        <li><a href="./termos">Termos</a></li>
    </ul>

    <div class="menu-section ">
        <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>

        <div class="nav-comandos">
            <ul>
              <li><a href="https://dsc.gg/ᴋᴏᴄ">Suporte</a></li>
              <li> <a href="./commands">Comandos</a></li>
              <li><a href="./termos">Termos</a></li>
            </ul>
        </div>

    </div>
  </header>

  <section class="container_one">
    <div>
        <img class="container_one_mika_size" src="{{ url_for('static', filename='img/mika_section_one.png') }}" alt="">
    </div>

    <div class="container_one_title">
      
      <div class="container_one_description">
        <h2>Olá! Sou a <span class="mika_text_span">Mika</span>.</h2>
        <h3>Sou um simples bot para o Discord. Ajudo você com moderação, diversão e um incrível RPG.</h3>
      </div>
      <div class="container_one_config">
        <img class="add_icon_top" src="{{ url_for('static', filename='img/To_top.png') }}" alt="Me adicione">
        <button class="container_one_button_add"> <a class="del_link" href="https://discord.com/api/oauth2/authorize?client_id=911986947940044850&permissions=8&scope=bot%20applications.commands">Me adicione.</a></button>
        <button class="container_one_button_commands"><a class="del_link" href="/commands">/Comandos</a></button>
      </div>
    </div>
    
  </section>

  <section class="container_one_server">
    <div class="server_quantided">
      <h2>Usada em mais de 20 servidores</h2>

      <img class="kingdom_of_creation" src="{{ url_for('static', filename='img/kingdom_of_creation.gif') }}" alt="">

    </div>
  </section>

  <section class="container_two">

    <img class="container_one_transforme" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWLDkvuz-GCBTRrRYFrQbDkhlPdTpJl4XOpnEljclh6T1a0gWEgRw6RmB1m5T4CI339Ig&usqp=CAU" alt="">
    
    <div data-anime="right" class="container_two_description container_opacity ">
      <h2>Que tal uma moderação<br> de ponta ?</h2>
      <div class="two_text_one">
        <p>Tenha uma boa moderação em seu servidor, tenho muitas funções para isso.<br>Você pode ver mais a respeito disso cliando no botão abaixo.</p>
        <button class="container_one_button_add one_left"><a class="del_link" href="/commands">Ver Comandos.</a></button>

        <div class="container_menu_commands">
          <ul>
            <li>/Ban</li>
            <li>/Unban</li>
            <li>/Delchannel</li>
            <li>/Kick</li>
            <li>/AddRole</li>
            <li>/EditNick</li>
          </ul>

        </div>

      </div>

    </div>

    <div data-anime="right" class="container_opacity ">
      <img class="img_slash_commands" src="https://cdn.discordapp.com/attachments/900564966753574942/970073346756731000/6832-badge-discordstaff.png" alt="">
      <img class="container_two_img_moderacao" src="https://cdn.discordapp.com/attachments/900564966753574942/970453969170210896/unknown.png" alt="">
    </div>

    <img class="container_one_transforme_two" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWLDkvuz-GCBTRrRYFrQbDkhlPdTpJl4XOpnEljclh6T1a0gWEgRw6RmB1m5T4CI339Ig&usqp=CAU" alt="">
    <!--<div class="background_black_container"></div>-->
  </section>

  <section class="container_two">
    <div class="container_imgs_info">
      <img width="300px" height="400px" data-anime_two="right" class="container_two_img_moderacao" src="https://images.uncyc.org/wikinet/4/44/Bazukinha_Sakurako_4.png" alt="">
      <img data-anime_two="right" class="icon_ani_two img_slash_commands" src="https://cdn.discordapp.com/attachments/900564966753574942/970041813673078874/unknown.png" alt="">
    </div>

    <img class="container_two_transforme" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWLDkvuz-GCBTRrRYFrQbDkhlPdTpJl4XOpnEljclh6T1a0gWEgRw6RmB1m5T4CI339Ig&usqp=CAU" alt="">

    <div data-anime_two="right" class="container_two_description">
      <h2>Slash Commands ?</h2>
      <div class="two_text">
        <p>Slash Commands são comandos por barra ("/"). Esses comandos são diferentes do prefix, diferente dos prefix, o slash commands ajuda nós programadores ao desenvolver comandos, dando uma facilidade ao usuário a usa tal comando.</p>
        <button class="container_one_button_add one_botton"><a class="del_link" href="https://support.discord.com/hc/pt-br/articles/1500000368501-Slash-Commands-FAQ">Ver Informações.</a></button>

        <div class="container_menu_slash_commands">
          <ul>
            <li>Bot Devs, alegrem-se! Comandos de barra estão aqui! Agora você pode criar comandos para seus bots que os usuários podem acessar facilmente na caixa de bate-papo! 🤖 Chega de adivinhar como os comandos funcionam ou tentar descobrir qual ID vai para onde. Os Slash Commands estão aqui para facilitar muito a sua vida e a de seus usuários.</li>
          </ul>

        </div>
      </div>
    </div>

    <img class="container_one_transforme_two" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWLDkvuz-GCBTRrRYFrQbDkhlPdTpJl4XOpnEljclh6T1a0gWEgRw6RmB1m5T4CI339Ig&usqp=CAU" alt="">
  </section>

  <section class="container_two">

    <img class="container_one_transforme" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWLDkvuz-GCBTRrRYFrQbDkhlPdTpJl4XOpnEljclh6T1a0gWEgRw6RmB1m5T4CI339Ig&usqp=CAU" alt="">
    
    <div data-anime_three="left" class="container_two_description container_opacity ">
      <h2>Blog ?</h2>
      <div class="two_text_one">
        <p><strong>Olá!</strong> Basicamente a host em que eu estava hospedada deu problema, então eu perdi bastante coisas da minha database, se você acha algum problema com os comandos, report eles: <strong>/reportbug</strong> ainda estou sendo arrumada, mas estou sem host, por tanto eu posso fica off-line as vezes :).</p>
        <button class="container_one_button_add one_left one_blog"><a class="del_link" href="/blog">Ir para o blog.</a></button>

        <div class="container_menu_blog">
          <ul>
            <li>🤔 Ainda estou em dúvida de qual host usa, mas se você conhece uma que você tenha confiança em usa-la, me manda uma dm falando sobre: <strong>Prøxy  $arłuni#5819</strong></li>
          </ul>
        </div>
      </div>
    </div>

    <div data-anime_three="left" class="container_opacity ">
      <img class="img_slash_commands" src="https://cdn.discordapp.com/attachments/900564938228134019/972107172156682260/loudspeaker.png" alt="">
      <img class="container_two_img_moderacao" src="https://images.uncyc.org/wikinet/thumb/6/68/Bazukinha_kimono_2.png/800px-Bazukinha_kimono_2.png" alt="">
    </div>

  </section>


  <section class="container_loja">

    <div class="loja_info">
      <div class="loja_conteudo">
        <h2>Loja</h2>
        <span class="span_container">
          <span class="loja_itens_img">
            <img class="loja_img" src="{{ url_for('static', filename='img/loja.gif') }}">

            <span class="itens_one">
              <img class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975164874424451082/PooDiscursodoLeal.png">
              <div class="img_info">
                <h4 class="nome_item">Discurso do Leal</h4>
                <p>Atributo: Ataque</p>
              </div>
            </span>
            
            <span class="itens_two">
              <img class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975515921017876520/PoodeArmazenamentodeMagias.png">
              <div class="img_info_two">
                <h4 class="nome_item">Porção de Armazenamento</h4>
                <p>Atributo: Magia</p>
              </div>
            </span>
            
            <span class="itens_three">
              <img class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975532051744821258/PoodeAdaptaodeDano.png">
              <div class="img_info_three">
                <h4 class="nome_item">Porção de </h4>
                <p>Atributo: Magia</p>
              </div>
            </span>
            
            <span class="itens_four">
              <img class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975535659265699871/PoodeGavinhasNegras.png">
              <div class="img_info_four">
                <h4 class="nome_item">Porção de </h4>
                <p>Atributo: Magia</p>
              </div>
            </span>
            
            <span class="itens_cinco">
              <img  class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975536736555900988/PoodeSanguecido.png">
              <div class="img_info_cinco">
                <h4 class="nome_item">Porção de </h4>
                <p>Atributo: Magia</p>
              </div>
            </span>
            
            <span class="itens_seis">
              <img class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975537670707105843/PoodeSanguelfico.png">
              <div class="img_info_seis">
                <h4 class="nome_item">Porção de </h4>
                <p>Atributo: Magia</p>
              </div>
            </span>
            
            <span class="itens_sete">
              <img class="itens " src="https://cdn.discordapp.com/attachments/974463008807976990/975538277698392114/PoodoSaborRuim.png">
              <div class="img_info_sete">
                <h4 class="nome_item">Porção de </h4>
                <p>Atributo: Magia</p>
              </div>
            </span>
            
          </span>
          
          <div class="menu-toggle click_info">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <div class="loja_bloco_info">
            <h2>Informações</h2>
            <ul class="list_loja">
              <li>Loja</li>
              <li>Vendedora</li>
            </ul>
          </div>
        </span>
        
      </div>

      <div class="loja_description">
        <div class="loja_p_bloco">
          <p>Olá! Esses itens você pode compra etc...</p>
        </div>
        <img class="container_two_img_moderacao" src="https://images.uncyc.org/wikinet/thumb/6/68/Bazukinha_kimono_2.png/800px-Bazukinha_kimono_2.png">
      </div>
    </div>
  </section>

  <footer>
    <div class="footer_list_flex">
      <div class="footer_list_suport">
        <span class="suporte_infos">
          <img src="https://cdn.discordapp.com/attachments/900564966753574942/970143514388230234/apoio-suporte.png">
          <h3>Suporte</h3>
        </span>
        <p>Servidor de suporte da mika: <strong> <a class="footer_server_suport" href="https://dsc.gg/ᴋᴏᴄ ">Kingdom of Creation</a></strong></p>
      </div>
      
      <div class="footer_list_suport">
        <span class="suporte_infos">
          <img src="https://cdn.discordapp.com/attachments/900564966753574942/970149373738647602/aperto-de-mao-de-parceria.png">
          <h3>Parceria</h3>
        </span>
        <p>Parceria com: <strong><a class="parceria_yumi" href="https://ayo.so/yumibot">Yumi#5426</a></strong></p>
      </div>

      <div class="footer_list_suport">
        <span class="suporte_infos">
          <img src="https://cdn.discordapp.com/attachments/900564966753574942/970154772399259678/software-development.png">
          <h3>Developer</h3>
        </span>
        <p>Prøxy $arłuni#5819</p>
      </div>

      <div class="footer_list_suport">
        <span class="suporte_infos">
          <img src="https://cdn.discordapp.com/attachments/900564966753574942/970157053840609320/mais.png">
          <h3>Me Adicione</h3>
        </span>
        <button class="container_one_button_add"><a class="del_link" href="https://discord.com/api/oauth2/authorize?client_id=911986947940044850&permissions=8&scope=bot%20applications.commands">Me adicione.</a></button>
      </div>
    </div>
    
    <div class="footer_finaly">
      <p>©copyrigth-2022</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>