* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container_comamnds {
	width: 100%;
	padding: 0px 0rem 0rem 0rem;
	display: flex;
    justify-content: flex-end;
	height: 92.9vh;
	overflow-y: hidden;
	background: linear-gradient(-90deg, #f6f9fc 70%, #43b1ff00), url(https://t4.ftcdn.net/jpg/02/00/12/41/360_F_200124130_zTecSbGQE5WDoysQeRysdCADbdhr5kKu.jpg);
}

.container_left {
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
    position: sticky;

    height: calc(100vh - 46px);
    background: transparent;
}

.container_right {
	overflow-y: auto;
	background: #f9f9f9;
}

.container_right::-webkit-scrollbar {
  width: 0px;  
  background-color: transparent;
}

.container_right::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

.container_commands_categorias {
	background: #f1a975;
	padding: 10px 50px;

	color: white;
	font-family: sans-serif;
	font-size: 20px;
}

.container_commands_list_categoria {
	margin-top: 2rem;
}

.container_commands_list_categoria ul {
	display: block;
	align-items: center;

}

.container_commands_list_categoria ul li {
	list-style: none;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 20px;

	margin-bottom: 1rem;

	cursor: pointer;

	padding: 5px 10px;

}

.container_commands_list_categoria ul li:hover {
	background: #ff56036b;
}

.categorias_click_span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.categorias_click {
	background: rgb(241, 92, 32);
	color: white;
}



.commands_img_p {
	display: flex;
	align-items: center;
	width: 100%;

	padding: 10px 5rem;
}


.img_commands_p {
	width: : 200px;
	height: 200px;
}


.commands_img_p p {
	font-family: sans-serif;
	font-size: 18px; 
}

.commands_colun {
	margin-top: 3rem;
	width: 100%;
	padding: 0px 2rem;
}

.commands_colun_information {
	margin-top: 3rem;
	width: 100%;
	padding: 0px 2rem;
	display: none;
}

.commands_colun_diversao {
	margin-top: 3rem;
	width: 100%;
	padding: 0px 2rem;
	display: none;
}


.colun_style_css {
	width: 100%;
	border-radius: 10px;
	padding: 20px 10px;
	margin-bottom: 2rem;

	background: #e5e5e5;

	position: relative;
	cursor: pointer;
}

.colun_header_description {
	color: #323131;
	font-family: sans-serif;
}

.colun_style_css:hover {
	box-shadow: 0px 5px 0px #d1d1d1;
}

.colun_header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: #323131;
	font-family: sans-serif;
}

.colun_header p {
	position: relative;
	z-index: 2;
}

.clasification {
	position: absolute;
	background: #8754cb;
	padding: 5px 10px;
	border-radius: 0px 10px 0px 10px;
	top: 0;
	right: 0;
	z-index: 1;

	color: white;
	font-family: sans-serif;
}

.clasification_information {
	position: absolute;
	background: #4097b1;
	padding: 5px 10px;
	border-radius: 0px 10px 0px 10px;
	top: 0;
	right: 0;
	z-index: 1;

	color: white;
	font-family: sans-serif;
}

.clasification_diversao {
	position: absolute;
	background: #47b140;
	padding: 5px 10px;
	border-radius: 0px 10px 0px 10px;
	top: 0;
	right: 0;
	z-index: 1;

	color: white;
	font-family: sans-serif;
}


.commands_img_description {
	width: 100%;
	display: none;
	align-items: center;
	justify-content: space-between;
}

.commands_img_description p {
	color: #323131;
	font-family: sans-serif;	
	font-weight: bolder;
}

.commands_img_description img {
	width: 300px;
	height: 200px;

	border-radius: 20px;
}


@media (max-width: 653px) {

	.container_commands_categorias {
		text-align: center;

	}

	.container_comamnds {
		display: block;
		overflow-y: auto;
		background: linear-gradient(0deg, #f6f9fc 70%, #43b1ff00), url(https://t4.ftcdn.net/jpg/02/00/12/41/360_F_200124130_zTecSbGQE5WDoysQeRysdCADbdhr5kKu.jpg);
	}

	.container_left {
		height: auto;
	}
}

@media (max-width: 500px) {
	.command_ban,
	.command_unban,
	.command_delchannel,
	.command_lock,
	.command_unlock,
	.command_editnick,
	.command_addrole,
	.command_dm,
	.command_say,
	.command_channelinfo,
	.command_emojiinfo,
	.command_userinfo,
	.command_stonks,
	.command_twitter,
	.command_twittersherk {
		overflow-x: auto;
		margin-top: 1rem;
	}

    .commands_img_p {
		display: block;
        text-align: center;
	}
}

@media (max-width: 341px) {
	
	.commands_img_description img {
		width: 200px;
    	height: 150px;
	}
	

}


@media (max-width: 301px) {
	.commands_img_p {
		padding: 10px 5px;
    	text-align: center;
	}
}

@media (max-width: 262px) {
	.commands_colun,
	.commands_colun_information,
	.commands_colun_diversao {
		padding: 0px 0.5rem;
	}

	.commands_img_description img {
    	width: 150px;
    	height: 100px;
	}
}