* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mika_text_span {
    color: rgb(241, 92, 32);
}


.container_one {
    display: flex;
    align-items: center;

    width: 100%;
    height: 88vh;

    position: relative;

    background-image: url(https://cdn.discordapp.com/attachments/900564966753574942/970026049838653590/ezgif.com-gif-maker_1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.container_one_mika_size {
    z-index: 0;
}

.container_one_title {
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(14, 13, 13);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 20px;

    position: relative;
    z-index: 2;
}

.container_one_description {
    padding: 10px 0px;
    
    background: #e5dfdfab;
    border-radius: 20px;
    padding: 20px;
    color: #322c2c;
}

.container_one_description h3 {
    margin: 30px 0px;
    font-size: 15px;
    font-family: sans-serif;
    color: #322c2c;

    display: flex;
    align-items: center;
}

.container_text_discord {
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
}

.logo_icon_discord {
    width: 20px;
    height: 20px;

}

.link_discord {
    text-decoration: none;
}

.add_icon_top {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 2.8rem;
    left: 3rem;
    display: none;
    transition: 1s;
}

.container_one_config {
    position: relative;
}


.container_one_button_add {
    cursor: pointer;
    padding: 15px 60px;

    border: none;
    border-radius: 5px;
    background: rgb(241, 92, 32);

    color: white;

    font-family: sans-serif;
    font-weight: bolder;
}

.del_link {
    text-decoration: none;
    color: white;
}

.container_one_button_commands {
    cursor: pointer;
    padding: 15px 60px;

    border: none;
    border-radius: 5px;
    background: #a21fbd;

    color: white;

    font-family: sans-serif;
    font-weight: bolder;
}

.container_one_button_add:hover {
    background: rgb(175, 65, 21);
}

.container_one_button_commands:hover {
    background: #721585;
}


.container_one_server {
    z-index: 1;
    padding: 20px 20px;
    background: rgb(29, 29, 29);
    width: 100%;
    
    position: relative;
    z-index: 2;
}

.server_quantided {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;

}


.server_quantided h2 {
    height: 100%;
    color: rgb(221, 218, 218);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

.kingdom_of_creation {
    width: 70px;
    height: 70px;
    border-radius: 15px;



}

.container_two {
    width: 100%;
    height: 100vh;
    background: rgb(39, 41, 52, 1);
    padding: 70px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    overflow: hidden;

    background-image: url("https://cdn.discordapp.com/attachments/900564966753574942/969040921897369690/Mr._x_gameplays.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container_imgs_info {
    position: relative;
}

.img_slash_commands {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 2;

    top: 2px;
    left: 0;

    animation-name: imgSlash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes imgSlash {
    0% {top: 2px;}
    10% {top: 4px;}
    20% {top: 6px;}
    30% {top: 10px}
    40% {top: 15px}
    50% {top: 20px}
    60% {top: 15px}
    70% {top: 10px}
    80% {top: 6px}
    90% {top: 4px}
    100% {top: 2px}
  }

.container_one_transforme {
    position: absolute;
    height: 900px;
    width: 500px;
    top: -400px;

    right: -100px;
    transform: rotate(307deg);
}

.container_two_transforme {
    position: absolute;
    height: 900px;
    width: 500px;
    top: -400px;
    left: -100px;
    transform: rotate(50deg);

    z-index: 0;
}

.container_one_transforme_two {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100px;
    bottom: -10px;
}

.container_two_description {
    padding: 20px;
    border-radius:15px;
    background: #2e2d2da2;
}

.container_two_description h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    color: aliceblue;   

    padding: 0px 0px 20px 0px;

    text-align: right;
}

.container_opacity h2 {
    text-align: left;
}

.two_text_one {
    text-align: left;
}

.container_menu_commands {
    display: none;
    position: absolute;

    background: #c9c5c5ad;
    padding: 10px 5px;
    border-radius: 10px; 

    bottom: 10px;
    left: 15rem;

}

.container_menu_slash_commands {
    display: none;
    position: absolute;

    background: #c9c5c5ad;
    padding: 10px 5px;
    border-radius: 10px; 

    right: 5rem;
}

.container_menu_commands ul li {
    list-style: none;
    color: #322c2c;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.container_menu_slash_commands ul li {
    list-style: none;
    color: #322c2c;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
}

.two_text {
    text-align: right;
}

.two_text p {
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(155, 157, 159, 1);

    line-height: 25px;

    margin-bottom: 30px;
}

.two_text_one p {
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(155, 157, 159, 1);

    line-height: 25px;

    margin-bottom: 30px;
}

.one_left {
    text-align: left;
}

.container_two_img_moderacao {
    width: 380px;
    height: 400px;
    position: relative;
    z-index: 1;
}

.background_black_container {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(29, 29, 29);
}

[data-anime="left"] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-100px, 0, 0);
}
[data-anime="right"] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(80px, 0, 0);
}


[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-anime_two="right"] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(80px, 0, 0);
}

[data-anime_two].animate_two {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-anime_three="left"] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-100px, 0, 0);
}

[data-anime_three].animate_three {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.container_menu_blog {
    display: none;
    position: absolute;

    background: #c9c5c5ad;
    padding: 10px 5px;
    border-radius: 10px; 

    right: 5rem;
    bottom: -40px;
}

.container_menu_blog ul li {
    list-style: none;
    color: #322c2c;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.container_menu_blog ul li {
    list-style: none;
    color: #322c2c;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
}


.container_loja {
    background: #101726;
}

.loja_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 20px;
}

.loja_conteudo {
    border-radius: 10px;
    padding: 20px 10px;
    border-left: 2px solid #d34444de;
}

.loja_conteudo h2 {
    margin-bottom: 1rem;
    color: #fbc8c8cc;
    background: #440b0e;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    width: 600px;
}

.span_container {
    display: flex;
    position: relative;
}

.loja_conteudo span .menu-toggle {
    margin-left: 1rem;
    background: #440b0e;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 4px;
    height: fit-content;
    transition: .2s;
}

.loja_conteudo span .menu-toggle:hover {
    background: #76262a;
    padding: 10px 30px;
}

.loja_img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background: #500909cf;
    box-shadow: 0px 10px 10px #240e0e;
    padding: 5px;

}

.loja_p_bloco {
    background: #e5dfdfab;
    padding: 10px 15px;
    border-radius: 5px;

}

.loja_p_bloco p {
    font-family: sans-serif;
    font-weight: bolder;
    color: #322c2c;
    width: 100%;
}

.loja_bloco_info {
    background: #440b0e;
    padding: 10px 20px;
    border-radius: 10px;
    height: fit-content;

    position: absolute;
    right: -7rem;
    top: 3.7rem;
    opacity: 0;
    transition: .2s;
}

.loja_bloco_info h2 {
    width: 100%;
}

.list_loja li {
    color: #c32323;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
    border-left: 2px solid #c32323;
    border-radius: 3px;
    padding-left: 5px; 
    font-size: 18px;

    list-style: none;
    margin-bottom: 1rem;
}

.list_loja li:hover {
    color: white;
    transition: .2s;
    border-left: 2px solid white;
}

/* COLUNA ONE LOJA*/

.loja_itens_img {
    position: relative;
}

.itens {
    width: 50px;
    height: 50px;
}

.itens_one {
    position: absolute;
    left: 0;
}

.itens_one img {
    position: absolute;
    left: 75px;
    top: 30px;
    cursor: pointer;
}

.itens_one img:hover {
    left: 73px;
    top: 28px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.img_info {
    position: absolute;
    left: 60px;
    top: 80px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}



.itens_two {
    position: absolute;
    left: 0;

}

.itens_two img {
    position: absolute;
    left: 165px;
    top: 30px;
    cursor: pointer;
}
.itens_two img:hover {
    left: 163px;
    top: 28px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.img_info_two {
    position: absolute;
    left: 190px;
    top: 80px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}

.img_info_three {
    position: absolute;
    left: 300px;
    top: 80px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}

.itens_three {
    position: absolute;
    left: 0;
}

.itens_three img {
    position: absolute;
    left: 270px;
    top: 30px;
    cursor: pointer;
}
.itens_three img:hover {
    left: 268px;
    top: 28px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.itens_four {
    position: absolute;
    left: 0px;
}

.itens_four img {
    position: absolute;
    left: 380px;
    top: 30px;
    cursor: pointer;
}
.itens_four img:hover {
    left: 378px;
    top: 28px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.img_info_four {
    position: absolute;
    left: 410px;
    top: 80px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}

.itens_cinco {
    position: absolute;
    left: 0px;
}

.itens_cinco img {
    position: absolute;
    left: 490px;
    top: 30px;
    cursor: pointer;
}

.itens_cinco img:hover {
    left: 488px;
    top: 28px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.img_info_cinco {
    position: absolute;
    left: 520px;
    top: 80px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}


.itens_seis {
    position: absolute;
    left: 0px;
}

.itens_seis img {
    position: absolute;
    left: 75px;
    top: 135px;
    cursor: pointer;
}

.itens_seis img:hover {
    left: 73px;
    top: 133px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.img_info_seis {
    position: absolute;
    left: 60px;
    top: 175px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}

.itens_sete {
    position: absolute;
    left: 0px;
}

.itens_sete img {
    position: absolute;
    left: 165px;
    top: 135px;
    cursor: pointer;
}

.itens_sete img:hover {
    left: 163px;
    top: 133px;
    width: 55px;
    height: 55px;
    transition: .2s;
}

.img_info_sete {
    position: absolute;
    left: 200px;
    top: 175px;
    background: #e5dfdfab;
    border-radius: 10px;
    padding: 10px 20px;
    color: #322c2c;
    z-index: 2;
    font-weight: bolder;
    font-family: sans-serif;
    display: none;
}

.nome_item {
    color: rgb(241, 92, 32);
}

@media (max-width: 757px) {
    .add_icon_top {
        bottom: 5.7rem;
    }
}

@media (max-width: 654px) {
    

    .container_one_button_add {
        margin-bottom: 2rem;
    }

    .add_icon_top {
        bottom: 7.7rem;
    }

    .container_two {
        padding: 30px 10px;
        display: block;
    }

    .container_two_img_moderacao {
        display: none;
    }

    .img_slash_commands {
        right: 0;
    }


} 

@media (max-width: 527px) {
    .add_icon_top {
        bottom: 4.9rem;
    }
}

@media (max-width: 534px) { 
    .container_one_title {
        padding: 20px 5px;
    }

}

@media (max-width: 528px) {
    .container_one_mika_size {
        display: none;
    }

    .container_one {
        display: block;
    }
}


@media (max-width: 407px) {
    .container_one_config {
        text-align: center;
    }

    .add_icon_top {
        display: none;
    }

    .img_slash_commands {
        display: none;
    }

    .icon_ani_two {
        display: none;
    }
}


@media (max-width: 231px) {
    .two_text {
        text-align: center;
    }

    .container_one_button_add {
        padding: 10px 15px;
    }

    .container_one_button_add {
        padding: 10px 15px;
    }

    .container_menu_slash_commands{
        display: none;
    }
}